<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PNR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <ion-label>PNR Number <ion-text color="danger">*</ion-text></ion-label>
        <ion-input placeholder="Enter PNR Number" [(ngModel)]="pnrNumber" required></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" (click)="findPNR()" [disabled]="!bluetoothService.isConnected || !pnrNumber">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
