<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Connect to a Bot
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      {{ this.devices.length ? 'Devices:' : 'No Devices Available'}}
    </ion-list-header>

    <ion-item *ngFor="let device of devices">
      <ion-avatar slot="start">
        <ion-icon name="bluetooth"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>{{ device.name }}</h2>
        <h3>Class: {{ device.class }}</h3>
        <h3>Address: {{ device.address }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>