<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About G-Bot
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="text-align: center;">
  <h1>
    <ion-icon name="airplane-outline"></ion-icon>
  </h1>
  <p>
    <strong>G Bot</strong> is an advanced Guiding Robot used in the navigation of unknown building or a place.  <br>
    This app acts as the interface between the bot and the user.
  </p>

  <strong>
    The Bot is designed by four undergraduate students
  </strong>
  <ul style="list-style-type: none;">
    <li>
      <h3>Ambady S</h3>
    </li>
    <li>
      <h3>Anand Mammen Varghese</h3>
    </li>
    <li>
      <h3>Anandu Sreenivasan</h3>
    </li>
    <li>
      <h3>Bibin Mathew</h3>
    </li>
  </ul>
  Under the guidance of <strong>Mrs. Jyothisree K R</strong>, <br> 
  Assist. prof, Dept. of ECE , Mangalam College of Engineering
</ion-content>
